table thead {
  background: linear-gradient(45deg, #4facfe, #00f2fe);
  color: white;
}
.card {
    max-width: 900px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.table tbody tr:hover {
  background: #f1f5f9;
}

table {
  border-radius: 10px;
  overflow: hidden;
}


td, th {
  text-align: center;
  vertical-align: middle;
}
.btn {
  padding: 4px 10px;
  font-size: 10px;
}


@media (max-width: 768px) {
  td .btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
 .btn {
    padding: 3px 6px;
    font-size: 12px;
  }
 
  table {
    font-size: 14px;
  }

  th, td {
    padding: 6px;
  }
}
